# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\自己的算法\steganography_qy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
